.video-container {
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(to bottom, #1f1c18, #030303);
}

.video-wrapper {
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.video video {
    width: 20rem;
    border-radius: 0.2rem;
    object-fit: fill;
    box-shadow: 0 0 1px 1px #ff8c00;
    height: 20rem;
}


@media (width < 600px) {
    .video-wrapper {
        flex-direction: column;
        padding: 1rem;
    }
}

@media (width >=600px) and (width <=1024px) {
    .video-wrapper {
        flex-direction: column;
        padding: 1rem;
    }
}